<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node | Chat</title>

    <link rel="stylesheet" href="css/style.css" />

    <script src="/socket.io/socket.io.js" defer></script>

    <script>
      var socket = io.connect(`/`);
      var userID = "<%=userID%>";
    </script>

    <script defer src="js/socket.js"></script>
  </head>

  <body>
    <div>
      <div id="chatContainer">
        <h1>This is node chat app!</h1>
        <div id="messages"></div>
        <div id="typing"></div>
      </div>

      <div id="inputDiv">
        <div>
          <input
            id="name"
            type="text"
            placeholder="Name.."
            autocomplete="off"
          />
        </div>

        <div>
          <input
            id="message"
            type="text"
            placeholder="Message.."
            autocomplete="off"
          />

          <button id="send">Send</button>
        </div>
      </div>
    </div>
  </body>
</html>
